<%- include('./port/layout-start', {books: books}) %>
<%- include('./port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Библиотека</h1>
    </div>
</div>

<%- include('./books/books') %>

<%- include('./port/layout-end') %>