<form method="POST" class="mt-5">
    <div class="form-group">
        <label for="inputTitle">Заголовок</label>
        <input type="text"
               value=""
               name="title"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Описание</label>
        <textarea
                rows="3"
                name="description" 
                class="form-control"
                id="inputDesc"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="inputDesc">Автор</label>
        <textarea
                rows="1"
                name="authors" 
                class="form-control"
                id="inputDesc"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="inputDesc">Любимое</label>
        <textarea
                rows="1"
                name="favorite" 
                class="form-control"
                id="inputDesc"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="inputDesc">Обложка</label>
        <textarea
                rows="1"
                name="fileCover" 
                class="form-control"
                id="inputDesc"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="inputDesc">Имя файла</label>
        <textarea
                rows="1"
                name="fileName" 
                class="form-control"
                id="inputDesc"
        ></textarea>
    </div>

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>